@import "../../vars.css";

.FAQ  {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    animation: fadeIn 2s 0s forwards 1;
    padding: 4% 5%;
    background-color: var(--color-bg);
}

.FAQ  h1 {
    text-decoration: underline;
}

.qa {
    margin: 30px 5% ;
}

.question {
    font-weight: 900;
    margin-bottom: 5px;
}

.answer {
    font-weight: 100;
    font-size: medium;
 
}

.EMDRlink {
    font-family: var(--font-roboto);
}

.secondSection {
    background-color: var(--color-bg-tertiary);
}

.FAQ a {
    margin-left: 3px;
}

.subheading {
    text-decoration: underline;
    padding: 10px 0 0 10px;
}

.insuranceList {
    list-style: square;
    padding: 0 0 0 20px;
    margin: 0;

}

.insuranceListItem {
    list-style: square;
    padding: 0;
}

.footerComment{
    padding: 10px 0;
}
.contactMe{
    align-self: center;
    background-color: var(--color-secondary);
    color: white;
    align-self: center;
    margin: 5px;
    font-size: 20px;
    font-weight: 600;
    padding: 0px 25px;
    border-radius: 3px;
    font-family: var(--font-roboto);
    cursor: pointer;
    margin-bottom: 20px;
    /* box-shadow: 3px 3px 10px 5px var(--color-bg-secondary); */
}