@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  background-color: var(--color-bg-tertiary);
  background-position:center;
  margin-top: 70px;
  margin-right: 0;
  margin-left: auto;
  padding-top: 20px;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.adultP {
    font-family: var(--font-roboto);
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: var(--color-secondary);
    padding: 20px;
}


.bookNow{
    background-color: rgb(255, 255, 255);
    color: var(--color-text-secondary);
    align-self: center;
    margin: 5px;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 25px;
    border-radius: 3px;
    font-family: var(--font-roboto);
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: 1px 5px 10px rgb(185, 184, 184);
}

.bookNow:hover {
    background-color: var(--color-bg-tertiary);
}

.bookNow:clicked {
    transform: scale(2.0);
}


@media screen and (max-width: 830px) {
    .container {
        background-color: var(--color-secondary);
        overflow-x: hidden; /* This can prevent horizontal overflow */
    }
    .adultP {
        font-size: 15px;
    }
}