@import "../../vars.css";

.navbar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 61px;
  z-index: 2;
  margin: 0;
  padding: 5% 10% 0 10%;
  opacity: 0;
  animation: fadeIn 2s 0s forwards 1;
  
}



.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  margin-right: 40px;
  text-shadow: 2px 2px 5px rgb(255, 255, 255);
  font-family: var(--font-roboto);
}

.licenses {
  font-size: 14px;
  color: gray;
  text-shadow: var(--color-text-secondary);
  font-family: var(--font-roboto);
}

.menu {
  display: flex;
  margin-top: 20px;
}

.menuBtn {
  width: 30px;
  height: auto;
  padding-top: 80px;
  margin-right: -20px;
  text-shadow: var(--color-text-secondary);
  display: none;
 
}
.menuItems {
  display: flex;
  gap: 30px;
  list-style: none;
  text-shadow: 1px 1px 1px rgba(246, 242, 242, 0.307);
  cursor: grab;
  
}

.menuItems a {
  font-size: 16px;
  color: var(--color-text);
  text-decoration:solid;
  font-family: var(--font-roboto);
}


@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 80px;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 0px;
    z-index: 3;
  }
  .menuBtn {
    display: block;

  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    border-radius: 3px;
    margin-top: 20px;
    border: 1px solid black;
    background: linear-gradient(
      200deg,
      var(--color-bg-secondary),
      var(--color-bg)
    );
    padding: 30px 40px;
    box-shadow: 15px 40px 20px 10px rgba(1, 1, 1, 0.25);
  }
  .menuOpen {
    display: flex;
    z-index: 1;
  }
}

@media screen and (max-width: 390px) {
  .navbar {
    margin-bottom: 20px;
  }
}
