@import "../../vars.css";


.EMDRIsection {
    background-image: url("/assets/about/beige-abstract.jpg");

    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.EMDRIsection .title {
    align-self: center;
    margin: 20px;
    
}

.topDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.topDiv p {
    padding: 10px;
    margin: 10px 10%;
    background-color: var(--color-bg-secondary);

}

.tagline {
    font-weight: 500;
}
.therapistOffice {
    width: 50%;
}

.info{
    width: 80%;
    margin-top: 20px;
}

.asterisk{
    margin-top: 10px;
    text-align: center;
    font-weight: 200;
}
.process {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.393);
}

.numberedList {
    list-style: decimal;
}

.bottomSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookNowEMDR {
    font-family: var(--font-roboto);
    font-size: large;
    padding: 5px 20px;
    margin-top: 20px;
    max-width: 80vw;
}

.bookNowEMDR:hover {
    color: black;
    background-color: var(--color-bg-secondary);
}

.EMDRIsection .footer {
    display: flex;
    flex-direction: column;
 
}

.footer p {
    align-self: center;
    text-align: center;
    margin: 20px;
}

.EMDRIsection a {
    margin-left: 3px;
    font-family: var(--font-roboto);
}

.sources {
    margin:  20px 10% 0 10%;
    color: rgb(54, 54, 54)
}

@media screen and (max-width: 400px) {
.process {
    width: 80vw;
}

.therapistOffice {
    width: 80%;
}
}

