:root {
    /*colors*/
    --color-text:rgb(107,101,74);
    --color-primary: rgb(97,153,111);
    --color-secondary: rgb(166, 169, 148);
    --color-dark: #0b2447;
    --color-bg: rgba(244, 234, 219, 1);
    --color-text-secondary: #464c56;
    --color-bg-secondary:  rgb(235, 229, 219);
    --color-bg-tertiary: rgba(214, 201, 183, 0.259);
    
    /*fonts*/
    --font-roboto: "Roboto flex";
    --font-secondary: times;
    
   
}

h1 {
    font-family: var(--font-roboto);
}
h2 {
    font-family: var(--font-roboto);
}
h3 {
    font-family: var(--font-roboto);
}
h4 {
    font-family: var(--font-roboto);
}
h5 {
    font-family: var(--font-roboto);
}
h6 {
    font-family: var(--font-roboto);
}
p {
    font-family: var(--font-roboto);
}
/* --color-bg: rgba(31, 75, 92, 0.756); */

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
